body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}

hr {
    width: 500px;
}

#timer {
    color: coral;
    font-size: 25px;
}

#sudoku-board {
    width: 450px;
    height: 450px;

    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tile {
    width: 46px;
    height: 47px;
    border: 1px solid gray;

    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#digits {
    width: 450px;
    height: 50px;

    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    align-items: center;
    justify-content: center;

}

.number {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}

.tile-selected {
    background-color: yellow;
}

.given-tile {
    background-color: lightgray;
}

.bottom-border-black {
    border-bottom: 4px solid black;
}

.right-border-black {
    border-right: 4px solid black;
}

.left-border-black {
    border-left: 4px solid black;
}

.top-border-black {
    border-top: 4px solid black;
}

.bottom-border-darkgray {
    border-bottom: 4px solid gray;
}

.right-border-darkgray {
    border-right: 4px solid gray;
}

.left-border-darkgray {
    border-left: 4px solid gray;
}

.top-border-darkgray {
    border-top: 4px solid gray;
}